<!DOCTYPE html>
<html
	th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Página principal</title>
</head>

<body>
	<div class="jumbotron text-center">
		<h1 class="cover-heading">Gestion de ataques de tiburones</h1>
		<p class="lead">Uso de Spring MVC y del motor de plantillas
			Thymeleaf para el desarrollo de una aplicacion de
			gestion de ataques de tiburones</p>
		<img alt="imagen de tiburon" width="600px" th:src="@{resources/assets/shark.jpg}"></img>
	</div>
</body>
</html>
